<h1>Flight Search Page</h1>

<% if Rails.env.production? %>
	<strong ><p> For testing use > from JFK to SF Intl, departure date 2021-07-05 </p></strong>
<% end %>


<%= form_for(@flight, url: flights_path, method: :get) do |f| %>
	<%= f.label "From" %>
	<%= f.collection_select(:from_airport_id, Airport.all, :id, :name) %>

	<%= f.label "To" %>
	<%= f.collection_select(:to_airport_id, Airport.all, :id, :name) %>

	<%= f.label "Passenger count" %>
	<%= select_tag :passenger_count, options_for_select(1..4) %>

	<%= f.label "Departure date" %>
	<%= select_tag :departure_date, options_for_select(Flight.get_takeoffs) %>

	<%= f.submit "Search flights!" %>
<% end %>

<% unless @available_flights.nil? %>
	<h3> Available Flights </h3>
	<hr>

	<%= form_tag({controller: "bookings", action: "new"}, method: "get") do %>
		<%= hidden_field_tag(:passenger_count, "#{@passenger_count}") %>

		<% @available_flights.each do |flight| %>	
			<%= radio_button_tag(:flight_id, "#{flight.id}") %>		
			<%= label_tag("flight_id_#{flight.id}", "#{flight_info(flight)}" ) %>
			<br>
		<% end %>

		<br>
		<%= submit_tag "Continue" %>
	<% end %>
<% end %>


